<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8">
      <title>Home</title>
        <link rel ="stylesheet"  href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="public/css/styles.css">
        <link rel="stylesheet" href="public/css/nav.css">
        <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js" ></script>
   
   <body>      
    {{>header}}

      </div>
   </div>
   </nav>
         
         <!-- Cart -->
      <div class="container-fluid">
      <div class="row">
        <!-- Page Header -->

     
            </div>
          </div>
        </div>

        <!-- Table Cart -->
        <!-- Header -->
        <div class="col-md-12">
          <table class="table text-center table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Add/Remove</th>
              </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
              <tr>
                <td width="200">Downy</td>
                <td>{{DOWNPrice}}</td>
                <td #id="QTYFieldDowny">{{INVDowny}}</td>
                <td>
                    <button id="DECDownybtn" class="btn btn-danger" data-toggle="modal" ><i class="bi bi-dash"></i></button>
                        <input type="text" size="1" class="text-center" placeholder="Qty.">
                    <button id="INCDownybtn"class="btn btn-primary" data-toggle="modal"><i class="bi bi-plus"></i></button>
                </td>
              </tr>

               <tr>
                <td width="200">Soap</td>
                
                <td> {{SOAPPrice}} </td>
                <td #id="QTYFieldSoap">{{INVSoap}}</td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" ><i class="bi bi-dash"></i></button>
                        <input type="text" size="1" class="text-center" placeholder="Qty.">
                    <button class="btn btn-primary" data-toggle="modal" ><i class="bi bi-plus"></i></button>
                    <script>
                      var ACCType = $("#navACCType").text()
                      var INVDowny = parseInt($("#QTYFieldDowny").text())
                      var INVSoap = parseInt($("#QTYFieldSoap").text())
                      $("#INCDownybtn").on((event) =>
                      {
                        console.log("HI")
                        INVDowny = INVDowny + 1;
                        $("#QTYFieldDowny").text = INVDowny
                        $.post("/editInventory/" + ACCType, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                      })
                      $("#DECDownybtn").click((event) =>
                      {
                        INVDowny = INVDowny - 1;
                        $("#QTYFieldDowny").text = INVDowny
                        $.post("/editInventory/" + ACCType, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {
              
                        })
                      })
                      $("#INCSoapbtn").click((event) =>
                      {
                      INVDowny = INVDowny + 1;
                      $("#QTYFieldSoap").text = INVSoap
                      $.post("/editInventory/" + ACCType, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                      })
                      $("#DECSoapbtn").click((event) =>
                      {
                      INVSoap = INVSoap - 1;
                      $("#QTYFieldSoap").text = INVSoap
                      $.post("/editInventory/" + ACCType, {INVDowny : INVDowny, INVSoap : INVSoap}, function (req, res) {})
                      })
                      
                    </script>
                </td>
              </tr>


            </tbody>
            <!-- End of Table Body -->

          </table>
          <!-- End of Table -->
        </div>
        </div>

         <!-- JQuery -->

   </body>
</html>