<body style="zoom:150%;">
	<div class="container-fluid bg">
		<section class="row justify-content-center">
        	<section class="col-12 col-sm-6 col-md-3" style="min-width: 300px; max-width: 320px;">
            	<form class="form-container" method="post" action="/login" id="firstform">
                	<div class="form-group">
                    	<label for="ACCType">Account</label>
                    	<select id="ACCType" class="form-select" aria-label="Default select example" name="ACCType">
                      		<option value="ADMIN">Admin</option>
                      		<option value="EMPLOYEE" selected="EMPLOYEE">Employee</option>
                    	</select>
									<div style="align-text:center;  margin-left:30px "class="spinner-border" role="status" id="LOAD"hidden>
										<span  style="align-content:center;" class="sr-only">Loading...</span>
									</div>
                  	</div>
                	<div class="form-group">
                    	<label for="PASSField">Password</label>
                    	<input type="password" class="form-control" id="PASSField" name="PASSField">
                  	</div>

					  				<div style="padding-bottom:20px"> <span id="errorSystem" style="color: #EE4B2B;"></span></div>  </span>
                  	<button id="THEBUTTON" target="_self" class="btn btn-info btn-block"  role="button">Login</button>

                </form>

					<script>
						$('#firstform').submit(function(event) {
						$(this).bind("submit")
						var error = document.getElementById("errorSystem")
						var docs = document.getElementById("PASSField").value
							if (docs === "")
							{
									
								error.innerText = "No Password!"	
							}
							else if (performance.navigation.type === 1 || performance.navigation.type === 0) 
							{
								error.innerText = ""
								document.getElementById("LOAD").hidden = false
								function test()
								{
									document.getElementById("LOAD").hidden = true
									error.innerText = "Wrong Password!"
								}
								setTimeout(test, 2000)
							}
							else {
								document.getElementById("LOAD").hidden = true
								error.innerText = ""
								$(this).unbind("submit").submit(); 
							}
							
						})
						
					  </script>
            </section>
        </section>
    </div>
 </body>