
  {{>header}}
   
   <body>      

         
         <!-- Cart -->
      <div class="container-fluid">
          <row>
            <div class="col-3 text-left mt-3">
                <h5>Admin Name</h5>
            </div>
            <div class="col-3">
                <input type="text" value="John Doe" readonly>
            </div>
          </row>

          <row>
            <div class="col-3 text-left mt-3">
                <h5>Password</h5>
            </div>
            <div class="col-3">
                <input type="password" value="tubero" readonly>
            </div>
          </row>

          <row>
            <div class="col-12 text-left mt-3">
                <button class="btn btn-primary btn-lg btn-block">Edit</button>
            </div>
          </row>

          <row>
            <div class="col-6 mt-3">
                <h4>Employee List</h4>
            </div>
          </row>

          <row>
              <div class="col-6">
                  <p>Juan Dela Cruz</p>
                  <input type="password" value="test1" readonly>
              </div>
          </row>

        <!-- Table Cart -->
        <!-- Header -->
        
        </div>

         <!-- JQuery -->

   </body>
