{{>header}}
   
   <body>      

         
         <!-- Cart -->

      <div class="container-fluid">
          <row>
            <div class="col-3 text-left mt-3">
                <h5>Admin Name</h5>
            </div>
            <div class="col-3">
                <input type="text" value="{{admin.EMPName}}" readonly>
            </div>
          </row>

          <row>
            <div class="col-3 text-left mt-3">
                <h5>Password</h5>
            </div>
            <div class="col-3">
                <input type="password" value="{{admin.EMPPass}}" readonly>
            </div>
          </row>
  <script>

  </script>
          <row>
            <div class="col-12 text-left mt-3">
                <button class="btn btn-primary btn-lg btn-block">Edit</button>
            </div>
          </row>

          <row>
            <div class="col-6 mt-3">
                <h4>Employee List</h4>
            </div>
          </row>
          {{#each accounts}}
          <row>
              <div class="col-6">
                  <p>{{this.EMPName}}</p>
                  <input type="password" value="{{this.EMPPass}}" readonly>
              </div>
          </row>
          {{/each}}
        <!-- Table Cart -->
        <!-- Header -->
        
        </div>

         <!-- JQuery -->

   </body>
