.date-drawer {
  padding: 10px 15px;
  vertical-align: baseline;
  transition: .3s ease;
  background-color: rgb(177, 226, 255);
  
}
.date-drawer:hover
{
  background-color:rgb(82, 172, 224);
}

.month
{
    font-size: 32px;
    color:rgb(0, 0, 0);
}
.page
{
  color:black;
}
.page:hover
{
  color:black;
  background-color:rgb(82, 172, 224);
}
.heighttext {
  display:inline-block;
  padding:60px 60px;
  font-size: 12px;
  line-height:0%;
}