.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

.confirm {

}

.now {
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal{
  pointer-events: none;
}

.modal-dialog{
  pointer-events: all;
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
html {
  min-height: 442;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  min-height: 442;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-x: hidden;
}



